#chat-box {
    position: relative;
    width: 100%;
    min-width: 250px;
    min-height: 35px;
    max-height: 200px;
}

#my-chat {
    max-width: 200px;
    background: rgb(173, 173, 173);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
}

#ur-chat {
    max-width: 200px;
    background: rgb(50, 122, 255);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: right;
    color: white;
}

