.acc {
    width: 100%;
    min-width: 280px;
    height: 95%;
    min-height: 500px;
}

.patient-info {
    width: 95%;
    min-width: 270px;
    margin-left: -10px;
    height: 320px;
    overflow-y: auto;

}
.patient-info::-webkit-scrollbar{
display: none;
}

.today {
    padding: 5px;
    width: 260px;
    text-align: left;
    border: 1px solid black;
}

.past-medical-records {
    text-align: left;
}

.past-medical-records-table {
    margin-top: 10px;
    padding: 5px;
    width: 260px;
    text-align: left;
    border: 1px solid black;    
}

.doctor-info {
    width: 95%;
    min-width: 270px;
    margin-left: -10px;
}

.doctor-info-table {
    padding: 5px;
    width: 260px;
    text-align: left;
    border: 1px solid black;    
}

.chat {
    width: 200px;
    height: 250px;
    margin-left: -10px;
}

.type-box {
    margin-left: -10px;
    margin-bottom: -25px;
    width: 260px;
    height: 60px;
}

#type {
    width: 80%;
    min-width: 160px;
    height: 40px;
    float: left;
}

.send {
    width: 20%;
    height: 40px;
    float: right;
}